body {
    font-family: sans-serif;
    text-align: center;
    width:95%;
    margin-left:auto;
    margin-right:auto;
    background-color: #2F3D44;
}

table,
td {
    border: 1px solid #333;
    margin-left:auto; 
    margin-right:auto;
}

thead,
tfoot,
tbody {
    background-color: #333;
    color: #eee;
}

h1,
h2 {
    color: #eee;
}

.red {
    background-color: #CE0033;
    color: #111;
}
